@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap');

:root{
  --bg-gray: #ddd;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

html,body{
  background-color: var(--bg-gray);
}

header{
  background-color: black;
  color: #fff;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}